<!-- nav -->
<nav class="d-flex justify-content-between navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav navbar-brand">
        <a class="nav-item nav-link " (click)="logout()">Logout</a>
    </div>
    <div class="navbar-nav">
        <span class="nav-item nav-link navbar-brand">Hello, {{currentUser.firstName}} {{currentUser.lastName}}!</span>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <span target="_top">by Maksim Petrov</span>
    </p>
    <p>Project Repository:
        <a href="https://github.com/maximan3000/PaintOnline" target="_top">https://github.com/maximan3000/PaintOnline</a>
    </p>
</div>